<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>element</key>
	<array>
	<dict>
			<key>picpath</key>
			<string>ninja_body00000.png</string>
			<key>id</key>
			<string>Ninja</string>
			<key>src</key>
			<string>game</string>
			<key>px</key>
			<string>200</string>
			<key>py</key>
			<string>140</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>cage_close0000.png</string>
			<key>id</key>
			<string>C1</string>
			<key>src</key>
			<string>game</string>
			<key>px</key>
			<string>180</string>
			<key>py</key>
			<string>375</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle7.png</string>
			<key>id</key>
			<string>1001</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>180</string>
			<key>py</key>
			<string>300</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle6.png</string>
			<key>id</key>
			<string>1002</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>180</string>
			<key>py</key>
			<string>270</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>enemy2_ready0001.png</string>
			<key>id</key>
			<string>E1</string>
			<key>src</key>
			<string>game</string>
			<key>px</key>
			<string>490</string>
			<key>py</key>
			<string>540</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle9.png</string>
			<key>id</key>
			<string>1003</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>490</string>
			<key>py</key>
			<string>500</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle6.png</string>
			<key>id</key>
			<string>1004</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>510</string>
			<key>py</key>
			<string>470</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle7.png</string>
			<key>id</key>
			<string>1005</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>900</string>
			<key>py</key>
			<string>530</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>enemy2_ready0001.png</string>
			<key>id</key>
			<string>E2</string>
			<key>src</key>
			<string>game</string>
			<key>px</key>
			<string>1100</string>
			<key>py</key>
			<string>420</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>true</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle6.png</string>
			<key>id</key>
			<string>1006</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>1120</string>
			<key>py</key>
			<string>360</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle5.png</string>
			<key>id</key>
			<string>1007</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>1120</string>
			<key>py</key>
			<string>330</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>enemy2_ready0001.png</string>
			<key>id</key>
			<string>E3</string>
			<key>src</key>
			<string>game</string>
			<key>px</key>
			<string>900</string>
			<key>py</key>
			<string>150</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>true</string>
		</dict>
	</array>
</dict>
</plist>