<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>element</key>
	<array>
	<dict>
			<key>picpath</key>
			<string>ninja_body00000.png</string>
			<key>id</key>
			<string>Ninja</string>
			<key>src</key>
			<string>game</string>
			<key>px</key>
			<string>200</string>
			<key>py</key>
			<string>140</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>enemy2_ready0001.png</string>
			<key>id</key>
			<string>E1</string>
			<key>src</key>
			<string>game</string>
			<key>px</key>
			<string>520</string>
			<key>py</key>
			<string>420</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle7.png</string>
			<key>id</key>
			<string>1001</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>500</string>
			<key>py</key>
			<string>370</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle5.png</string>
			<key>id</key>
			<string>1002</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>480</string>
			<key>py</key>
			<string>340</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>		
		<dict>
			<key>picpath</key>
			<string>enemy2_ready0001.png</string>
			<key>id</key>
			<string>E2</string>
			<key>src</key>
			<string>game</string>
			<key>px</key>
			<string>770</string>
			<key>py</key>
			<string>370</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>true</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle7.png</string>
			<key>id</key>
			<string>1003</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>770</string>
			<key>py</key>
			<string>310</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle5.png</string>
			<key>id</key>
			<string>1004</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>770</string>
			<key>py</key>
			<string>290</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>		
		<dict>
			<key>picpath</key>
			<string>cage_close0000.png</string>
			<key>id</key>
			<string>C1</string>
			<key>src</key>
			<string>game</string>
			<key>px</key>
			<string>1000</string>
			<key>py</key>
			<string>605</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
		<dict>
			<key>picpath</key>
			<string>terrain_rectangle6.png</string>
			<key>id</key>
			<string>1005</string>
			<key>src</key>
			<string>ui</string>
			<key>px</key>
			<string>1000</string>
			<key>py</key>
			<string>530</string>
			<key>vertex</key>
			<string>null</string>
			<key>flip</key>
			<string>false</string>
		</dict>
	</array>
</dict>
</plist>